.container {
    background-color: #efefef;
    padding: 3px;
    border: 2px solid #efefef;
}

.label {
    padding-left: 5px;
    padding-top: 3px;
    display: inline-block;
    width: 70px;
}

.list {
    width: 100%;
}

.selected {
    border: 2px solid #bbbbbb;
}